


.mi-fuente {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mi-carrousel {
  margin-top: 80px;
  margin-bottom: 20px;
}

.contenedor-tarjetas {
  display: flex;           /* Hace que los hijos estén en fila */
  flex-wrap: wrap;         /* Permite que se ajusten a varias filas si no caben */
  gap: 20px;               /* Espacio entre tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}
.mi-tarjeta {
  border-radius: 15px;              /* Redondeado de la tarjeta */
  overflow: hidden;                  /* Para que la imagen respete el border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  width: 300px;                      /* Tamaño fijo o ajustable */
  background-color: #fff;            /* Fondo sólido */
}

.mi-tarjeta img {
  width: 100%;                       /* Que la imagen ocupe todo el ancho */
  height: 200px;                      /* Altura fija para todas */
  object-fit: cover;                  /* Mantener proporciones y recortar si hace falta */
}